#about
    padding: 80px 0
    h1
        font-size: 60px
        font-weight: 700
        margin-bottom: 20px
        &:hover
            cursor: text
    h3
        font-size: 20px
        color: #9a9a9c
        &:hover
            cursor: text
    ul
        li
            display: flex
            justify-content: center
            .box
                position: relative
                display: flex
                flex-direction: row
                padding: 50px
                .textbox
                    width: 350px
                    margin-top: 20px
                    h2
                        font-size: 30px
                        font-weight: 700
                        &:hover
                            cursor: text
                    p
                        font-size: 20px
                        color: #9a9a9c
                        line-height: 1.4
                        margin-top: 20px
                        &:hover
                            cursor: text
                .imgbox
                    width: 170px
                    height: 170px
                    border: 6px solid #edeff2
                    border-radius: 50%
                    margin: 40px
            .minibox
                width: 170px
                height: 170px
                border: 6px solid #edeff2
                border-radius: 50%
                display: flex
                justify-content: center
                align-items: center
                background-color: #ffc800
                margin-top: 80px
                h4
                    font-size: 23px
                    font-weight: 700
                    text-align: center
                    color: #ffff
            .left
                transform: translate(-175px, 0px)
                h2
                    text-align: end
                p
                    text-align: end
            .right
                transform: translate(175px, 0px)

    @media (max-width: 992px)
        h1
            font-size: 55px
            font-weight: 700
            margin-bottom: 20px
        h3
            font-size: 20px
        ul
            li
                position: relative
                display: flex
                justify-content: center
                .box
                    display: flex
                    flex-direction: row
                    padding: 40px
                    .textbox
                        margin-top: 20px
                        width: 250px
                        h2
                            font-size: 27px
                            font-weight: 700
                        p
                            font-size: 20px
                            color: #9a9a9c
                            line-height: 1.4
                            margin-top: 20px
                    .imgbox
                        width: 140px
                        height: 140px
                .minibox
                    width: 140px
                    height: 140px
                    h4
                        font-size: 20px
                .left
                    transform: translate(-130px, 0px)
                    h2
                        text-align: end
                    p
                        text-align: end
                .right
                    transform: translate(125px, 0px)

    @media (max-width: 768px)
        h1
            font-size: 35px
        h3
            font-size: 18px
        ul
            li
                position: relative
                display: flex
                justify-content: center
                .box
                    position: relative
                    display: flex
                    flex-direction: row
                    .textbox
                        margin-top: 20px
                        width: 75%
                        h2
                            font-size: 25px
                            font-weight: 700
                        p
                            font-size: 20px
                            line-height: 1.3
                    .imgbox
                        width: 80px
                        height: 80px
                        margin: 20px
                .minibox
                    width: 80px
                    height: 80px
                    transform: translate(10px, 0px)
                    h4
                        font-size: 18px
                .left
                    transform: translate(-85px, 0px)
                    .textbox
                        margin-right: -10px
                        h2
                            text-align: end
                        p
                            text-align: end
                .right
                    transform: translate(90px, 0px)
                    .textbox
                        margin-left: -10px
                        text-align: start

    @media (max-width: 576px)
        h1
            font-size: 30px
        h3
            font-size: 18px
        ul
            li
                position: relative
                display: flex
                justify-content: start
                .box
                    position: relative
                    padding: 10px 20px
                    .textbox
                        max-width: 400px
                        h2
                            font-size: 20px
                            text-align: start
                            margin-left: 10px
                        p
                            font-size: 19px
                            line-height: 1.2
                            text-align: start
                            margin-left: 10px
                    .imgbox
                        width: 65px
                        height: 65px
                        margin: 10px 
                .minibox
                    width: 65px
                    height: 65px
                    margin-left: -20px
                    h4
                        font-size: 13px
                        font-weight: 600
                .left
                    display: flex
                    flex-direction: row-reverse
                    transform: translate(-40px, 0px)
                    h2 
                        margin-left: -10px
                    p 
                        margin-left: -10px
                .right
                    transform: translate(-40px, 0px)
                    h2 
                        margin-left: -10px
                    p 
                        margin-left: -10px
    @media (max-width: 310px)
        h1
            font-size: 30px
        h3
            font-size: 18px
        ul
            li
                position: relative
                display: flex
                justify-content: start
                .box
                    position: relative
                    padding: 20px
                    .textbox
                        width: 180px
                        h2
                            font-size: 20px
                            text-align: start
                            margin-left: 5px
                        p
                            font-size: 18px
                            line-height: 1.2
                            text-align: start
                            margin-left: 5px
                    .imgbox
                        width: 65px
                        height: 65px
                        margin: 30px
                .minibox
                    width: 65px
                    height: 65px
                    margin-left: -5px
                    h4
                        font-size: 13px
                        font-weight: 600
                .left
                    display: flex
                    flex-direction: row-reverse
                    transform: translate(-60px, 0px)
                    // h2 
                    //     margin-left: -20px
                    // p 
                    //     margin-left: -20px
                .right
                    transform: translate(-60px, 0px)
                    // h2 
                    //     margin-left: -20px
                    // p 
                    //     margin-left: -20px

