#about
    padding: 80px
    h1
        font-size: 40px
        font-weight: 700
        margin-bottom: 20px
    h3
        font-size: 20px
        color: #9a9a9c
    ul
        li
            display: flex
            justify-content: center
            .box
                position: relative
                display: flex
                flex-direction: row
                padding: 50px
                .textbox
                    margin-top: 20px
                    width: 400px
                    h2
                        font-size: 30px
                        font-weight: 700
                    p
                        font-size: 20px
                        color: #9a9a9c
                        line-height: 1.4
                        margin-top: 20px
                .imgbox
                    width: 170px
                    height: 170px
                    border: 5px solid #edeff2
                    border-radius: 50%
                    margin: 40px
            .vertical
                width: 3px
                height: 500px
                background-color: #edeff2
                position: absolute
                top: 120px
                left: 570px
                z-index: -1
            .right-line
                position: absolute
                top: 100px
                left: 170px
                z-index: -1
            .left
                transform: translate(-200px, 0px)
            .right
                transform: translate(200px, 0px)
            .minibox
                width: 170px
                height: 170px
                border: 5px solid #edeff2
                border-radius: 50%
                display: flex
                justify-content: center
                align-items: center
                background-color: #ffc800
                z-index: 1
                margin-top: 50px
                h4
                    font-size: 23px
                    font-weight: 700
                    text-align: center
                    color: #ffff
    @media (max-width: 300px)
        h1
            font-size: 30px
        h3
            font-size: 15px
        ul
            li
                display: flex
                justify-content: start
                .box
                    position: relative
                    padding: 0px
                    .textbox
                        width: 180px
                        h2
                            font-size: 20px
                            text-align: start
                        p
                            font-size: 15px
                            line-height: 1.2
                            text-align: start
                    .imgbox
                        width: 65px
                        height: 65px
                    .vertical
                        position: absolute
                        top: 90px
                        left: 70px
                        height: 200px
                .left
                    display: flex
                    flex-direction: row-reverse
                    transform: translate(-130px, 0px)
                .right
                    transform: translate(-130px, 0px)
                .minibox
                    width: 65px
                    height: 65px
                    margin: 20px
                    transform: translate(-110px, 0px)
                    h4
                        font-size: 10px
                        font-weight: 600
    @media (max-width: 576px)
        h1
            font-size: 35px
        h3
            font-size: 18px
        ul
            li
                display: flex
                justify-content: center
                .box
                    position: relative
                    display: flex
                    flex-direction: row
                    padding: 30px
                    .textbox
                        margin-top: 20px
                        width: 200px
                        h2
                            font-size: 25px
                            font-weight: 700
                    .imgbox
                        width: 80px
                        height: 80px
                    .vertical
                        position: absolute
                        top: 70px
                        left: 310px
                    .right-line
                        position: absolute
                        top: 100px
                        left: 110px
                .left
                    transform: translate(-100px, 0px)
                .right
                    transform: translate(100px, 0px)
                .minibox
                    width: 80px
                    height: 80px
                    h4
                        font-size: 17px
                        font-weight: 700
    @media (max-width: 786px)
        h1
            font-size: 40px
            font-weight: 700
            margin-bottom: 20px
        h3
            font-size: 20px
        ul
            li
                display: flex
                justify-content: center
                .box
                    position: relative
                    display: flex
                    flex-direction: row
                    padding: 30px
                    
