header
    padding: 20px 0
    background-color: black
    .imgbox
        width: 150px
        img
            &:hover
                cursor: pointer
    nav
        a
            font-size: 17px
            font-weight: 600
            color: #8b8b8e
            margin-left: 30px
            &:hover
                color: #927717
