#portfolio
    padding: 80px
    .textbox
        h1
            font-size: 40px
            font-weight: 700
            text-align: center
            margin-bottom: 25px
        h3
            font-size: 18px
            text-align: center
            color: #9a9a9c
            margin-bottom: 20px
        h2
            font-size: 28px
            font-weight: 700
            text-align: center
            margin: 15px

    .box
        //width: 280.98px
        //height: 212.98px
        position: relative
        .imgbox
            margin: 3px
            .minibox
                background-color: yellow
                position: absolute
                top: 10px
                opacity: 0.5
                .icon
                    position: absolute
                    top: 130px
                    left: 150px
                    font-size: 50px
                    color: #ffff
                    //display: none
