#welcome
    background-image: url("assets/header-backg.jpg")
    background-size: cover
    background-position: center
    .box
        //width: 700px
        max-height: 650px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin: 50px
        .textbox
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            h1
                //padding-top: 10px
                font-weight: 700
                font-size: 110px
                color: #ffff
            h2
                padding-top: 135px
                font-weight: 600
                font-size: 40px
                color: #ffff
        .btn
            width: 210px
            padding: 18px 45px
            background-color: #ffc800
            border-radius: 7px
            margin: 70px
            &:hover
                background-color: #d9aa00
                cursor: pointer
            h3 
                color: #ffff
                font-size: 20px
                font-weight: 700
                &:hover
                    cursor: pointer




