body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.box .imgbox {
  width: 100%;
  overflow: hidden;
}
.box .imgbox img {
  width: 100%;
}
.box .imgbox .minibox {
  width: 100%;
}

header {
  padding: 25px 0;
  background-color: black;
}
header .imgbox {
  width: 150px;
}
header .imgbox img:hover {
  cursor: pointer;
}
header nav a {
  font-size: 17px;
  font-weight: 600;
  color: #8b8b8e;
  margin-left: 30px;
}
header nav a:hover {
  color: #927717;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}

#welcome {
  background-image: url("assets/header-backg.jpg");
  background-size: cover;
  background-position: center;
}
#welcome .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
#welcome .box .textbox {
  display: flex;
  flex-direction: column;
}
#welcome .box .textbox h1 {
  font-weight: 700;
  font-size: 110px;
  color: white;
  margin-top: 20px;
}
#welcome .box .textbox h2 {
  margin-top: 135px;
  font-weight: 600;
  font-size: 40px;
  color: white;
}
#welcome .box .btn {
  width: 210px;
  padding: 18px 45px;
  background-color: #ffc800;
  border-radius: 7px;
  margin: 70px;
}
#welcome .box .btn:hover {
  background-color: #d9aa00;
  cursor: pointer;
}
#welcome .box .btn h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
#welcome .box .btn h3:hover {
  cursor: pointer;
}
@media (min-width: 300px) {
  #welcome .box .textbox h1 {
    font-size: 40px;
  }
  #welcome .box .textbox h2 {
    margin-top: 110px;
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  #welcome .box .textbox h1 {
    font-size: 60px;
  }
  #welcome .box .textbox h2 {
    margin-top: 130px;
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  #welcome .box .textbox h1 {
    font-size: 110px;
  }
  #welcome .box .textbox h2 {
    margin-top: 135px;
    font-size: 40px;
  }
}

#services {
  padding: 80px;
}
#services .textbox h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}
#services .textbox h3 {
  text-align: center;
  font-size: 18px;
  color: #9a9a9c;
  margin-bottom: 50px;
  line-height: 1.6;
}
#services .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .box h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}
#services .box .icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ffc800;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .box .icon i {
  color: white;
  font-size: 60px;
}

#portfolio {
  padding: 80px;
}
#portfolio .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
#portfolio .textbox h3 {
  font-size: 18px;
  text-align: center;
  color: #9a9a9c;
  margin-bottom: 20px;
}
#portfolio .textbox h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 15px;
}
#portfolio .box {
  position: relative;
}
#portfolio .box .imgbox {
  margin: 3px;
}
#portfolio .box .imgbox .minibox {
  background-color: yellow;
  position: absolute;
  top: 10px;
  opacity: 0.5;
}
#portfolio .box .imgbox .minibox .icon {
  position: absolute;
  top: 130px;
  left: 150px;
  font-size: 50px;
  color: white;
}/*# sourceMappingURL=style.css.map */