body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.box .imgbox {
  overflow: hidden;
}
.box .imgbox img {
  width: 100%;
  height: 100%;
}
.box .imgbox .minibox {
  width: 100%;
  height: 100%;
}

header {
  padding: 25px 0;
  background-color: black;
}
header .imgbox {
  width: 150px;
}
header .imgbox img:hover {
  cursor: pointer;
}
header nav a {
  font-size: 17px;
  font-weight: 600;
  color: #8b8b8e;
  margin-left: 30px;
}
header nav a:hover {
  color: #927717;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}

#about {
  padding: 80px;
}
#about h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
#about h3 {
  font-size: 20px;
  color: #9a9a9c;
}
#about ul li {
  display: flex;
  justify-content: center;
}
#about ul li .box {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 50px;
}
#about ul li .box .textbox {
  margin-top: 20px;
}
#about ul li .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#about ul li .box .textbox p {
  font-size: 20px;
  color: #9a9a9c;
  line-height: 1.4;
  margin-top: 20px;
}
#about ul li .box .imgbox {
  width: 170px;
  height: 170px;
  border: 6px solid #edeff2;
  border-radius: 50%;
  margin: 40px;
}
#about ul li .minibox {
  width: 170px;
  height: 170px;
  border: 6px solid #edeff2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc800;
  margin-top: 80px;
}
#about ul li .minibox h4 {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  color: white;
}
#about ul li .vertical {
  width: 3px;
  height: 1500px;
  background-color: #edeff2;
  position: absolute;
  top: 120px;
  z-index: -1;
}
#about ul li .left {
  transform: translate(-175px, 0px);
}
#about ul li .right {
  transform: translate(175px, 0px);
}
@media (max-width: 300px) {
  #about h1 {
    font-size: 30px;
  }
  #about h3 {
    font-size: 15px;
  }
  #about ul li {
    position: relative;
    display: flex;
    justify-content: start;
  }
  #about ul li .box {
    position: relative;
    padding: 20px;
  }
  #about ul li .box .textbox {
    width: 180px;
  }
  #about ul li .box .textbox h2 {
    font-size: 20px;
    text-align: start;
  }
  #about ul li .box .textbox p {
    font-size: 15px;
    line-height: 1.2;
    text-align: start;
  }
  #about ul li .box .imgbox {
    width: 65px;
    height: 65px;
  }
  #about ul li .minibox {
    width: 65px;
    height: 65px;
    margin-left: -70px;
  }
  #about ul li .minibox h4 {
    font-size: 13px;
    font-weight: 600;
  }
  #about ul li .vertical {
    height: 1000px;
    position: absolute;
    top: 110px;
    left: -40px;
  }
  #about ul li .left {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-130px, 0px);
  }
  #about ul li .right {
    transform: translate(-130px, 0px);
  }
}
@media (min-width: 300px) {
  #about h1 {
    font-size: 30px;
  }
  #about h3 {
    font-size: 15px;
  }
  #about ul li {
    position: relative;
    display: flex;
    justify-content: start;
  }
  #about ul li .box {
    position: relative;
    padding: 20px;
  }
  #about ul li .box .textbox {
    width: 180px;
  }
  #about ul li .box .textbox h2 {
    font-size: 20px;
    text-align: start;
  }
  #about ul li .box .textbox p {
    font-size: 15px;
    line-height: 1.2;
    text-align: start;
  }
  #about ul li .box .imgbox {
    width: 65px;
    height: 65px;
  }
  #about ul li .minibox {
    width: 65px;
    height: 65px;
    margin-left: -70px;
  }
  #about ul li .minibox h4 {
    font-size: 13px;
    font-weight: 600;
  }
  #about ul li .vertical {
    height: 1100px;
    position: absolute;
    top: 110px;
    left: -40px;
  }
  #about ul li .left {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-130px, 0px);
  }
  #about ul li .right {
    transform: translate(-130px, 0px);
  }
}
@media (min-width: 576px) {
  #about h1 {
    font-size: 35px;
  }
  #about h3 {
    font-size: 18px;
  }
  #about ul li {
    position: relative;
    display: flex;
    justify-content: center;
  }
  #about ul li .box {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  #about ul li .box .textbox {
    margin-top: 20px;
    width: 180px;
  }
  #about ul li .box .textbox h2 {
    font-size: 25px;
    font-weight: 700;
  }
  #about ul li .box .imgbox {
    width: 80px;
    height: 80px;
  }
  #about ul li .minibox {
    width: 80px;
    height: 80px;
    margin-left: -10px;
  }
  #about ul li .vertical {
    height: 1200px;
    transform: translate(230px, 0px);
  }
  #about ul li .left {
    transform: translate(-95px, 0px);
  }
  #about ul li .left .textbox {
    margin-right: -5;
  }
  #about ul li .left .textbox h2 {
    text-align: end;
  }
  #about ul li .left .textbox p {
    text-align: end;
  }
  #about ul li .right {
    transform: translate(85px, 0px);
  }
  #about ul li .right .textbox {
    text-align: start;
  }
}
@media (min-width: 992px) {
  #about h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  #about h3 {
    font-size: 20px;
    color: #9a9a9c;
  }
  #about ul li {
    display: flex;
    justify-content: center;
  }
  #about ul li .box {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
  #about ul li .box .textbox {
    margin-top: 20px;
    width: 350px;
  }
  #about ul li .box .textbox h2 {
    font-size: 30px;
    font-weight: 700;
  }
  #about ul li .box .textbox p {
    font-size: 20px;
    color: #9a9a9c;
  }
  #about ul li .box .imgbox {
    width: 170px;
    height: 170px;
  }
}/*# sourceMappingURL=style.css.map */