body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.box .imgbox {
  overflow: hidden;
}
.box .imgbox img {
  width: 100%;
  height: 100%;
}
.box .imgbox .minibox {
  width: 100%;
  height: 100%;
}

header {
  padding: 25px 0;
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;
  z-index: 2;
}
header .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .menu .imgbox {
  width: 150px;
}
header .menu .imgbox img:hover {
  cursor: pointer;
}
header .menu nav {
  display: block;
}
header .menu nav a {
  font-size: 17px;
  font-weight: 600;
  color: #8b8b8e;
  margin-left: 30px;
  cursor: pointer;
}
header .menu nav a:hover {
  color: #927717;
}
header .menu .btn {
  display: none;
}
@media (max-width: 280px) {
  header .menu {
    display: flex;
    flex-flow: row-wrap;
  }
}
@media (max-width: 992px) {
  header .menu nav {
    display: none;
  }
  header .menu .btn {
    display: flex;
    border-radius: 7px;
    border: 1px solid #605e5e;
    padding: 7px 13px 7px 11px;
  }
  header .menu .btn h3 {
    color: #a5a2a2;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
  }
  header .menu .btn .icon {
    color: #afacac;
    margin-top: 2px;
  }
}
@media (min-width: 576px) {
  header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 300px) {
  header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#welcome {
  background-image: url("assets/header-backg.jpg");
  background-size: cover;
  background-position: center;
}
#welcome .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
#welcome .box .textbox {
  display: flex;
  flex-direction: column;
}
#welcome .box .textbox h1 {
  font-weight: 700;
  font-size: 110px;
  color: white;
  margin-top: 20px;
}
#welcome .box .textbox h2 {
  margin-top: 135px;
  font-weight: 600;
  font-size: 40px;
  color: white;
}
#welcome .box .btn {
  width: 210px;
  padding: 18px 45px;
  background-color: #ffc800;
  border-radius: 7px;
  margin: 70px;
}
#welcome .box .btn:hover {
  background-color: #d9aa00;
  cursor: pointer;
}
#welcome .box .btn h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
#welcome .box .btn h3:hover {
  cursor: pointer;
}
@media (max-width: 300px) {
  #welcome .box .textbox h1 {
    font-size: 40px;
  }
  #welcome .box .textbox h2 {
    margin-top: 120px;
    font-size: 20px;
  }
}
@media (min-width: 300px) {
  #welcome .box .textbox h1 {
    font-size: 40px;
  }
  #welcome .box .textbox h2 {
    margin-top: 120px;
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  #welcome .box .textbox h1 {
    font-size: 50px;
  }
  #welcome .box .textbox h2 {
    margin-top: 130px;
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  #welcome .box .textbox h1 {
    font-size: 80px;
  }
  #welcome .box .textbox h2 {
    margin-top: 130px;
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  #welcome .box .textbox h1 {
    font-size: 110px;
  }
  #welcome .box .textbox h2 {
    margin-top: 135px;
    font-size: 45px;
  }
}

#services {
  padding: 80px;
}
#services .textbox h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}
#services .textbox h3 {
  text-align: center;
  font-size: 18px;
  color: #9a9a9c;
  margin-bottom: 50px;
  line-height: 1.6;
}
#services .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .box h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}
#services .box .icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ffc800;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .box .icon i {
  color: white;
  font-size: 60px;
}
@media (max-width: 576px) {
  #services .textbox h1 {
    font-size: 34px;
  }
  #services .box h2 {
    font-size: 19px;
  }
}

#portfolio {
  padding: 80px 0;
}
#portfolio .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
#portfolio .textbox h3 {
  font-size: 18px;
  text-align: center;
  color: #9a9a9c;
  margin-bottom: 25px;
}
#portfolio .textbox h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 15px;
}
#portfolio .box .imgbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .box .imgbox .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 60px;
  color: white;
  opacity: 0;
}
#portfolio .box .imgbox .icon:hover {
  background-color: #ffbb00;
  opacity: 0.9;
  cursor: pointer;
}
@media (min-width: 576px) {
  #portfolio .textbox h1 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  #portfolio .box .imgbox {
    width: 300px;
  }
}

#about {
  padding: 80px;
}
#about h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
#about h3 {
  font-size: 20px;
  color: #9a9a9c;
}
#about ul li {
  display: flex;
  justify-content: center;
}
#about ul li .box {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 50px;
}
#about ul li .box .textbox {
  margin-top: 20px;
}
#about ul li .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#about ul li .box .textbox p {
  font-size: 20px;
  color: #9a9a9c;
  line-height: 1.4;
  margin-top: 20px;
}
#about ul li .box .imgbox {
  width: 170px;
  height: 170px;
  border: 6px solid #edeff2;
  border-radius: 50%;
  margin: 40px;
}
#about ul li .minibox {
  width: 170px;
  height: 170px;
  border: 6px solid #edeff2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc800;
  margin-top: 80px;
}
#about ul li .minibox h4 {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  color: white;
}
#about ul li .left {
  transform: translate(-175px, 0px);
}
#about ul li .right {
  transform: translate(175px, 0px);
}
@media (max-width: 300px) {
  #about h1 {
    font-size: 30px;
  }
  #about h3 {
    font-size: 15px;
  }
  #about ul li {
    position: relative;
    display: flex;
    justify-content: start;
  }
  #about ul li .box {
    position: relative;
    padding: 10px;
  }
  #about ul li .box .textbox {
    width: 180px;
  }
  #about ul li .box .textbox h2 {
    font-size: 20px;
    text-align: start;
  }
  #about ul li .box .textbox p {
    font-size: 15px;
    line-height: 1.2;
    text-align: start;
  }
  #about ul li .box .imgbox {
    width: 65px;
    height: 65px;
  }
  #about ul li .minibox {
    width: 65px;
    height: 65px;
    margin-left: -70px;
  }
  #about ul li .minibox h4 {
    font-size: 13px;
    font-weight: 600;
  }
  #about ul li .left {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-130px, 0px);
  }
  #about ul li .right {
    transform: translate(-130px, 0px);
  }
}
@media (min-width: 300px) {
  #about h1 {
    font-size: 30px;
  }
  #about h3 {
    font-size: 15px;
  }
  #about ul li {
    position: relative;
    display: flex;
    justify-content: start;
  }
  #about ul li .box {
    position: relative;
    padding: 10px;
  }
  #about ul li .box .textbox {
    width: 170px;
  }
  #about ul li .box .textbox h2 {
    font-size: 23px;
    text-align: start;
    line-height: 1.3;
  }
  #about ul li .box .textbox p {
    font-size: 17px;
    line-height: 1.3;
    text-align: start;
  }
  #about ul li .box .imgbox {
    width: 65px;
    height: 65px;
  }
  #about ul li .minibox {
    width: 65px;
    height: 65px;
    margin-left: -70px;
  }
  #about ul li .minibox h4 {
    font-size: 13px;
    font-weight: 600;
  }
  #about ul li .left {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-130px, 0px);
  }
  #about ul li .right {
    transform: translate(-130px, 0px);
  }
}
@media (min-width: 576px) {
  #about h1 {
    font-size: 35px;
  }
  #about h3 {
    font-size: 18px;
  }
  #about ul li {
    position: relative;
    display: flex;
    justify-content: center;
  }
  #about ul li .box {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  #about ul li .box .textbox {
    margin-top: 20px;
    width: 180px;
  }
  #about ul li .box .textbox h2 {
    font-size: 25px;
    font-weight: 700;
  }
  #about ul li .box .textbox p {
    font-size: 17px;
    line-height: 1.3;
  }
  #about ul li .box .imgbox {
    width: 80px;
    height: 80px;
  }
  #about ul li .minibox {
    width: 80px;
    height: 80px;
    transform: translate(35px, 0px);
  }
  #about ul li .left {
    transform: translate(-80px, 0px);
  }
  #about ul li .left .textbox {
    margin-right: -10px;
  }
  #about ul li .left .textbox h2 {
    text-align: end;
  }
  #about ul li .left .textbox p {
    text-align: end;
  }
  #about ul li .right {
    transform: translate(90px, 0px);
  }
  #about ul li .right .textbox {
    margin-left: -10px;
    text-align: start;
  }
}
@media (min-width: 768px) {
  #about h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  #about h3 {
    font-size: 20px;
  }
  #about ul li {
    position: relative;
    display: flex;
    justify-content: center;
  }
  #about ul li .box {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
  #about ul li .box .textbox {
    margin-top: 20px;
    width: 250px;
  }
  #about ul li .box .textbox h2 {
    font-size: 27px;
    font-weight: 700;
  }
  #about ul li .box .textbox p {
    font-size: 20px;
    color: #9a9a9c;
    line-height: 1.4;
    margin-top: 20px;
  }
  #about ul li .box .imgbox {
    width: 100px;
    height: 100px;
  }
  #about ul li .minibox {
    width: 100px;
    height: 100px;
  }
  #about ul li .minibox h4 {
    font-size: 16px;
  }
  #about ul li .left {
    transform: translate(-120px, 0px);
  }
  #about ul li .right {
    transform: translate(125px, 0px);
  }
}
@media (min-width: 992px) {
  #about h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  #about h3 {
    font-size: 20px;
    color: #9a9a9c;
  }
  #about ul li {
    display: flex;
    justify-content: center;
  }
  #about ul li .box {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
  #about ul li .box .textbox {
    margin-top: 20px;
    width: 350px;
  }
  #about ul li .box .textbox h2 {
    font-size: 30px;
    font-weight: 700;
  }
  #about ul li .box .textbox p {
    font-size: 20px;
    color: #9a9a9c;
  }
  #about ul li .box .imgbox {
    width: 170px;
    height: 170px;
  }
  #about ul li .minibox {
    width: 170px;
    height: 170px;
    transform: translate(50px, 0px);
  }
  #about ul li .minibox h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3;
  }
  #about ul li .left {
    transform: translate(-160px, 0px);
  }
  #about ul li .right {
    transform: translate(185px, 0px);
  }
}

#team {
  padding: 80px 0;
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
#team h3 {
  font-size: 20px;
  color: #9a9a9c;
  margin-bottom: 50px;
}
#team .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#team .box .imgbox {
  width: 220px;
  border: 7px solid #dfe0e1;
  border-radius: 50%;
}
#team .box .textbox h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 18px 0 15px 0;
}
#team .box .textbox h4 {
  font-size: 20px;
  color: #9a9a9c;
  margin-bottom: 10px;
}
#team .box .icon {
  margin-bottom: 45px;
}
#team .box .icon i {
  width: 38px;
  height: 38px;
  font-size: 18px;
  background-color: #212529;
  color: white;
  border-radius: 50%;
  margin: 10px;
  padding: 11px;
}
#team .box .icon i:hover {
  cursor: pointer;
  background-color: #424649;
}
#team .textbox {
  width: 700px;
}
#team .textbox h3 {
  text-align: center;
}

#microsoft .box {
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
#microsoft .box .imgbox {
  width: 170px;
  height: 50px;
}
#microsoft .box img:hover {
  cursor: pointer;
}

#contact {
  background-image: url("assets/map-backg.png");
  background-size: cover;
  padding: 90px 0;
}
#contact h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
}
#contact h3 {
  font-size: 20px;
  color: #5f6a6e;
  margin-bottom: 50px;
}
#contact .box {
  display: flex;
  flex-direction: column;
}
#contact .box input {
  width: 550px;
  height: 65px;
  border: 0.5px solid #a2a8ad;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
#contact .box textarea {
  width: 550px;
  height: 235px;
  border: 0.5px solid #a2a8ad;
  border-radius: 5px;
  padding: 20px 20px;
}
#contact .box textarea:hover {
  cursor: text;
}
#contact .btn {
  margin-top: 30px;
  width: 220px;
  border-radius: 5px;
  padding: 18px 40px;
  background-color: #b28f0e;
  opacity: 0.8;
}
#contact .btn h4 {
  color: #b2b3b3;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 300px) {
  #contact .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact .box input {
    width: 250px;
  }
  #contact .box textarea {
    width: 250px;
    height: 135px;
  }
}
@media (min-width: 576px) {
  #contact .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact .box input {
    width: 300px;
  }
  #contact .box textarea {
    width: 300px;
    height: 160px;
  }
}
@media (min-width: 768px) {
  #contact .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact .box input {
    width: 300px;
  }
  #contact .box textarea {
    width: 300px;
    height: 235px;
  }
}
@media (min-width: 992px) {
  #contact .box {
    display: flex;
    flex-direction: column;
  }
  #contact .box input {
    width: 430px;
    height: 65px;
  }
  #contact .box textarea {
    width: 430px;
    height: 235px;
  }
}
@media (min-width: 1200px) {
  #contact .box {
    display: flex;
    flex-direction: column;
  }
  #contact .box input {
    width: 550px;
    height: 65px;
  }
  #contact .box textarea {
    width: 550px;
    height: 235px;
  }
}

footer {
  height: 80px;
  padding: 25px;
}
footer .box {
  display: flex;
  justify-content: center;
}
footer .box h3 {
  padding: 25px;
  font-size: 17px;
}
footer .box h3:hover {
  cursor: pointer;
}
footer .box h4 {
  padding: 25px;
  font-size: 17px;
}
footer .box h4:hover {
  cursor: text;
}
footer .box .icon i {
  width: 38px;
  height: 38px;
  font-size: 18px;
  background-color: #212529;
  color: white;
  border-radius: 50%;
  margin: 10px;
  padding: 11px;
}
footer .box .icon i:hover {
  cursor: pointer;
  background-color: #424649;
}/*# sourceMappingURL=style.css.map */